  <!-- <form (submit)="onSubmit()" class="form">
    <input type="text" #box (keyup.enter)="update(box.value)" (blur)="update(box.value)"><p>{{value}}</p></form>
    <input type="text">
    <input type="text"> 
 </form>  -->

 <input #taskTitle placeholder="Title">
 <input #taskDesc placeholder="Description">
 <select #taskState> 
   <option value="" selected disabled>Task state</option>
   <option value="To Do" >To Do</option>
   <option value="In Progress">In Progress</option>
   <option value="On Hold">On Hold</option>
   <option value="Done">Done</option>
 </select>
 <button (click)="newTask(taskTitle.value, taskDesc.value, taskState.value)">Add Task</button>
    
<p>{{taskState.value}}</p>
