<div class="addForm-wrapper">
  <input #taskTitle placeholder="Title" />
  <input #taskDesc placeholder="Description" />
  <select #taskState>
    <option value="" selected disabled>Task state</option>
    <option value="To Do">To Do</option>
    <option value="In Progress">In Progress</option>
    <option value="On Hold">On Hold</option>
    <option value="Done">Done</option>
  </select>
  <button
    (click)="newTask(taskTitle.value, taskDesc.value, taskState.value)"
    class="addTask-btn"
  >
    Add Task
  </button>
</div>
